.navbar navbar-default ul li{

}

.nav navbar-nav ul li{
    /*float: right;*/
}

.dropdown{
    float: left;
}

.collapse navbar-collapse ul li{
    /*float: right;*/
}

/* fixar bredden på menuitems */
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 25px;
}

h1{
  
}

#ruta{
    
}

#bild{
    
}

#div1{
   /*width: 800px;*/
}

#div2{
    /*width: 240px;*/
   /*width: 200px;*/
   /*float: left;*/

}
   
   
#div_omsluta{
/*       float: right;*/
   }
   
   .form-control{
       float: right;
       width: 200px;
      margin-top: 10px;
   }
